@media (min-width: 600px) {
    /* header section css */
    *{
        margin: 0px;
        padding: 0px;
    }
    .navbar{
        display: flex;
        position: sticky;
    }
    .navbartitle{
        margin-top: 18px;
        margin-left: 20px;
        font-weight: bolder;
        font-size: 15px;
    }
    .navlist{
        margin-left: 90px;
    }
    .navul{
        display: flex;
        margin-left: -60px;
        margin-top: 15px;
    }
    .navli{
        margin-left: 20px;
    }
    .navanchor{
        text-decoration: none;
        color: black;
        font-size: 15px;
    }
    .navicons{
        margin-left: 60px;
        margin-top: 16px;
    }
    #user{
        color: #8019c8;
        font-size: 10px;
    }
    #cart{
        color: #8019c8;
        margin-left: 10px;
        font-size: 10px;
    }
    /* header section css end */
    /* slider css starts */
    .slider{
        background-image: url(slider-bg.jpg);
        background-size: cover;
        width: 100%;
    }
    .slidercont{
        padding: 50px;
    }
    .slidertitle{
        margin-top: 40px;
    }
    .slidertitle1{
       margin-top: 150px;
       margin-left: 30px;
       font-size: 22px;
       color: white;
       
    }
    .sliderdescript{
        margin-top: 40px;
    }
    .sliderdescript1{
        margin-left: 30px;
        font-size: 12px;
        color: white;
    }
    .buttons{
        margin-top: 40px;
    }
    .contactbtn{
        margin-left: 30px;
        height: 48px;
        width: 125px;
        background-color: #19c880;
        color: white;
        border: none;
    }
    .aboutbtn{
        margin-left: 10px;
        height: 48px;
        width: 125px;
        background-color: #8019c8;
        color: white;
        border:none;
    }
    /* slider css end */
    /* features css starts */
    .pros{
        display: flex;
        text-align: center;
        gap: 60px;
        padding: 30px 30px;
        flex-wrap: wrap;
    }
    .prosicon{
        font-size: 20px;
    }
    .prostitle{
        font-size: x-small ;
    }
    .prosdescript{
        font-size: x-small;
    }
    .prosmain{
        margin-left:30px;
    }
    .prossect{
        background-color: #f5f5f5;
    }
    /* feature css end */
    /* about shop css starts */
    .aboutshop{
        display: flex;
        gap: 70px;
        padding: 90px;
        padding-top: 100px;
        flex-wrap: wrap;
    }
    .shop1{
        width: 35%;
        background-color: #f5f5f5;
        margin-left: 30px;
        height: 120px;
    }
    .shop2{
        background-color: #f5f5f5;
        width: 35%;
        height: 90px;
    }
    .shop3{
        width: 100%;
        margin-top: 150px;
    }
    .image{
        width: 100%;
        transform: translateY(-75px);
    }
    .image1{
        width: 100%;
        transform: translateY(55px);
    }
    .abouttitle{
        font-size: 25px;
    }
    .aboutdescript{
        font-size: medium;
        margin-top: 30px;
        width: 100%;
    }
    .readbtn{
        height: 31px;
        width: 155px;
        margin-top: 30px;
        color: white;
        background-color: #8019c8;
        border: none;
        border-radius: 5px;
    }
    /* about shop css ends */
    /* products css starts */
    .products{
        background-color: #f5f5f5;
    }
    .products2{
        background-color: #f5f5f5;
        margin-top: 40px;
    }
    .products3{
        background-color: #f5f5f5;
        margin-top: 40px;
    }
    .productcontainer{
        display: flex;
        gap: 50px;
    }
    .producttitle{
        width: 15%;
        margin-left:50px;
        text-align: center;
        padding: 5px;
        background-color: #19c880;
        color: white;
        font-size: 15px
    }
    .productmain{
        width: 20%;
        margin-left: 15px;
        padding: 15px;
        background-color: white;
        margin-top: 20px;
    }
    
    .w1{
        margin-left: 30px;
        height: 100px;
    }
    .productdetail{
        display: flex;
    }
    .price{
        text-align: left;
        font-size: 5px;
       
    }
    .likes{
        text-align: right;
        margin-left: 10px;
        font-size: 8px;
        
    }
    #stars{
        color: gold;
    }
    .buybtns{
        display: flex;
        margin-top: 30px;
        
        
    }
    .addcart{
        margin-left: 30px;
        height: 28px;
        width: 105px;
        border: none;
        background-color: #8019c8;
        color: white;
        border-radius: 5px;
    }
    .addcart1{
        margin-left: 130px;
        height: 28px;
        width: 105px;
        border: none;
        background-color: #8019c8;
        color: white;
        border-radius: 5px;
    }
    .addcart2{
        margin-left: 100px;
        height: 28px;
        width: 105px;
        border: none;
        background-color: #8019c8;
        color: white;
        border-radius:5px ;
    }
    /* product css ends */
    /* contact form starts */
    .contactform{
        margin-left: 100px;
        margin-top: 50px;
    }
    .contacttitle{
        font-size: x-large;
        margin-bottom: 30px;
    }
    .name{
        padding: 10px;
        width: 355px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
    }
    .number{
        padding: 10px;
        width: 355px;
        margin-top: 2px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
    }
    .email{
        padding: 10px;
        width: 355px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
    }
    #Mess{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
    }
    .sendbtn{
        margin-top: 30px;
        height: 38px;
        width: 125px;
        background-color: #8019c8;
        color: white;
        border: none;
        border-radius:5px ;
    }
    /* contact form css ends */
     /* testimonial css starts */
     .testibox{
        display: flex;
    }
     .Testimonial{
        font-size: 50px;
        margin-right: 0px;
    }
    .tcont{
        margin-bottom: 150px;
        margin-left: 0px;
    }
     .testit{
        text-align: center;
        padding: 40px;
    }
     .imgbox{
        border-radius: 50px;
        margin-left: 100px;
        margin-top: 10px;
        z-index: 1;
    }
     .testimg{
        border-radius:100% ;
        height: 170px;
        width: 170px;
        border: 5px solid #19c880;
        position: relative;
        margin-left: -100px ;
        margin-bottom: -20px ;
    }
     .detailsbox{
        position: absolute;
        margin-left: 80px;
        margin-top: -20px;
        height: 170px;
        width: 420px;
        padding: 40px ;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #double{
        margin-left: 50px;
        height: 30px;
        width: 30px;
        font-size: larger;
        color: #8019c8;
    }
    .quote{
        height: 30px;
        width: 30px;
    }
     .cname{
        font-size: 30px;
        color: #8019c8;
    }
     .ccust{
        font-size: 30px;
        color: #19c880;
    }
     .client{
        margin-left: 80px;
        display: flex;
    }
     .client-de{
        margin-left: 80px;
        margin-top:30px ;
    }
     .ccust1{
        font-size: small;
    }
    /* testimonial css ends */
     /* footer css starts */
     .fbox{
        width: 100%;
    }
     .hbox{
        width: 60%;
        margin: auto;
        border-bottom:1px solid white ;
        padding: 30px; 
        text-align: center;
        font-size: x-large;  
    }
     .fc{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
     .cc{
        
        width: 100%;
        line-height: 90px;
        margin-top: 30px;
    }
     .cc1{
     
        width: 100%;
        margin-top: 30px;
    }.cc2{
        width: 100%;
        margin-top: 30px;
    }.cc3{
        width: 100%;
        margin-top: 30px;
    }
     #location1{
        display: inline;
        font-size: 40px;
        margin-top: 40px;
    }
     .t1{
        font-size: 40px;
        
    }
     .lt{
        display: inline;
        font-size: 40px;
        margin-left: 40px;
        margin-top: 40px;
    }
     #phone1{
        display: inline;
        font-size: 40px;
        margin-top: 40px;
    }
     .pt{
        display: inline;
        font-size: 40px;
        margin-left: 40px;
        margin-top: 40px;
        
    }
     #mail1{
        display: inline;
        font-size: 40px;
        margin-top: 40px;
    }
     .mt{
        display: inline;
        font-size: 40px;
        margin-left: 40px;
        margin-top: 40px;
    }
     .infot{
        font-size: 40px;
        margin-top: 25px;
       
    }
     .infod{
        font-size: 40px;
        margin-top: 60px;
       
    }
     .ip1{
        display: flex;
        gap: 10px;
        margin-top: 60px;
    }
     .ip2{
        display: flex;
        gap: 10px;
        margin-top: 30px;
    }
     .inst1{
        font-size: 40px;
        margin-top: 27px;
    }
     .watchesf{
        height: 100px;
        width: 100px;
    }
     .nlt{
        font-size: 40px;
        
        margin-top: 30px;
    }
     .en{
        display: block;
        height: 48px;
        width: 255px;
        
    }
     .subs{
        height: 48px;
        width: 222px;
       
        margin-top: 35px;
        background-color: #8019c8;
        border: none;
        color: #f6f6f6;
    }
     .social1{
        display: flex;
        margin-top: 35px;
       
    }
     #yt{
        font-size: 40px;
        margin-left: 10px ;
    }
     #in{
        font-size: 40px;
        margin-left: 10px ;
    }
     #twit{
        font-size: 40px;
        margin-left: 10px ;
    }
     #fb{
        font-size: 40px;
    }
     footer{
        background-color: #0f1521;
        color: #fff;
    }
     .newsform{
        margin-top: 55px;
       
    }
     .location{
        margin-top: 10px;
    }
     .fc{
        margin-left: 20px;
        padding: 100px;
        margin-right: 10px;
    }
     .rights{
        text-align: center;
    }
     .rights1{
        font-size: 20px;
    }
    /* footer css ends */

}
@media (max-width: 600px) {
    /* header section css */
    *{
        margin: 0px;
        padding: 0px;
    }
    .navbar{
        display: flex;
        position: sticky;
    }
    .navbartitle{
        margin-top: 18px;
        margin-left: 20px;
        font-weight: bolder;
        font-size: 16px;
    }
    .navlist{
        margin-left: 90px;
    }
    .navul{
        display: flex;
        margin-left: -70px;
        margin-top: 15px;
    }
    .navli{
        margin-left: 20px;
    }
    .navanchor{
        text-decoration: none;
        color: black;
        font-size: 12px;
    }
    .navicons{
        margin-left: 60px;
        margin-top: 16px;
    }
    #user{
        color: #8019c8;
        font-size: 10px;
    }
    #cart{
        color: #8019c8;
        margin-left: 10px;
        font-size: 10px;
    }
    /* header section css end */
    /* slider css starts */
    .slider{
        background-image: url(slider-bg.jpg);
        background-size: cover;
        width: 100%;
    }
    .slidercont{
        padding: 50px;
    }
    .slidertitle{
        margin-top: 40px;
    }
    .slidertitle1{
       margin-top: 150px;
       margin-left: 30px;
       font-size: 22px;
       color: white;
       
    }
    .sliderdescript{
        margin-top: 40px;
    }
    .sliderdescript1{
        margin-left: 30px;
        font-size: 12px;
        color: white;
    }
    .buttons{
        margin-top: 40px;
    }
    .contactbtn{
        margin-left: 30px;
        height: 48px;
        width: 125px;
        background-color: #19c880;
        color: white;
        border: none;
    }
    .aboutbtn{
        margin-left: 10px;
        height: 48px;
        width: 125px;
        background-color: #8019c8;
        color: white;
        border:none;
    }
    /* slider css end */
    /* features css starts */
    .pros{
        display: flex;
        text-align: center;
        gap: 60px;
        padding: 30px 30px;
        flex-wrap: wrap;
    }
    .prosicon{
        font-size: 20px;
    }
    .prostitle{
        font-size: x-small ;
    }
    .prosdescript{
        font-size: x-small;
    }
    .prosmain{
        margin-left:30px;
    }
    .prossect{
        background-color: #f5f5f5;
    }
    /* feature css end */
    /* about shop css starts */
    .aboutshop{
        display: flex;
        gap: 70px;
        padding: 90px;
        padding-top: 100px;
        flex-wrap: wrap;
    }
    .shop1{
        width: 35%;
        background-color: #f5f5f5;
        margin-left: 30px;
        height: 120px;
    }
    .shop2{
        background-color: #f5f5f5;
        width: 35%;
        height: 90px;
    }
    .shop3{
        width: 100%;
        margin-top: 150px;
    }
    .image{
        width: 100%;
        transform: translateY(-75px);
    }
    .image1{
        width: 100%;
        transform: translateY(55px);
    }
    .abouttitle{
        font-size: 25px;
    }
    .aboutdescript{
        font-size: medium;
        margin-top: 30px;
        width: 100%;
    }
    .readbtn{
        height: 31px;
        width: 155px;
        margin-top: 30px;
        color: white;
        background-color: #8019c8;
        border: none;
        border-radius: 5px;
    }
    /* about shop css ends */
    /* products css starts */
    .products{
        background-color: #f5f5f5;
    }
    .products2{
        background-color: #f5f5f5;
        margin-top: 40px;
    }
    .products3{
        background-color: #f5f5f5;
        margin-top: 40px;
    }
    .productcontainer{
        display: flex;
        gap: 50px;
    }
    .producttitle{
        width: 15%;
        margin-left:50px;
        text-align: center;
        padding: 5px;
        background-color: #19c880;
        color: white;
        font-size: 15px
    }
    .productmain{
        width: 20%;
        margin-left: 15px;
        padding: 15px;
        background-color: white;
        margin-top: 20px;
    }
    
    .w1{
        margin-left: 30px;
        height: 100px;
    }
    .productdetail{
        display: flex;
    }
    .price{
        text-align: left;
        font-size: 5px;
       
    }
    .likes{
        text-align: right;
        margin-left: 10px;
        font-size: 8px;
        
    }
    #stars{
        color: gold;
    }
    .buybtns{
        display: flex;
        margin-top: 30px;
        
        
    }
    .addcart{
        margin-left: 30px;
        height: 28px;
        width: 105px;
        border: none;
        background-color: #8019c8;
        color: white;
        border-radius: 5px;
    }
    .addcart1{
        margin-left: 130px;
        height: 28px;
        width: 105px;
        border: none;
        background-color: #8019c8;
        color: white;
        border-radius: 5px;
    }
    .addcart2{
        margin-left: 100px;
        height: 28px;
        width: 105px;
        border: none;
        background-color: #8019c8;
        color: white;
        border-radius:5px ;
    }
    /* product css ends */
    /* contact form starts */
    .contactform{
        margin-left: 100px;
        margin-top: 50px;
    }
    .contacttitle{
        font-size: x-large;
        margin-bottom: 30px;
    }
    .name{
        padding: 10px;
        width: 355px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
    }
    .number{
        padding: 10px;
        width: 355px;
        margin-top: 2px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
    }
    .email{
        padding: 10px;
        width: 355px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
    }
    #Mess{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: none;
    }
    .sendbtn{
        margin-top: 30px;
        height: 38px;
        width: 125px;
        background-color: #8019c8;
        color: white;
        border: none;
        border-radius:5px ;
    }
    /* contact form css ends */
     /* testimonial css starts */
     .testibox{
        display: flex;
    }
     .Testimonial{
        font-size: 50px;
        margin-right: 0px;
    }
    .tcont{
        margin-bottom: 150px;
        margin-left: 0px;
    }
     .testit{
        text-align: center;
        padding: 40px;
    }
     .imgbox{
        border-radius: 50px;
        margin-left: 100px;
        margin-top: 10px;
        z-index: 1;
    }
     .testimg{
        border-radius:100% ;
        height: 170px;
        width: 170px;
        border: 5px solid #19c880;
        position: relative;
        margin-left: -100px ;
        margin-bottom: -20px ;
    }
     .detailsbox{
        position: absolute;
        margin-left: 80px;
        margin-top: -20px;
        height: 170px;
        width: 420px;
        padding: 40px ;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    #double{
        margin-left: 50px;
        height: 30px;
        width: 30px;
        font-size: larger;
        color: #8019c8;
    }
    .quote{
        height: 30px;
        width: 30px;
    }
     .cname{
        font-size: 30px;
        color: #8019c8;
    }
     .ccust{
        font-size: 30px;
        color: #19c880;
    }
     .client{
        margin-left: 80px;
        display: flex;
    }
     .client-de{
        margin-left: 80px;
        margin-top:30px ;
    }
     .ccust1{
        font-size: small;
    }
    /* testimonial css ends */
     /* footer css starts */
     .fbox{
        width: 100%;
    }
     .hbox{
        width: 60%;
        margin: auto;
        border-bottom:1px solid white ;
        padding: 30px; 
        text-align: center;
        font-size: x-large;  
    }
     .fc{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
     .cc{
        
        width: 100%;
        line-height: 90px;
        margin-top: 30px;
    }
     .cc1{
     
        width: 100%;
        margin-top: 30px;
    }.cc2{
        width: 100%;
        margin-top: 30px;
    }.cc3{
        width: 100%;
        margin-top: 30px;
    }
     #location1{
        display: inline;
        font-size: 40px;
        margin-top: 40px;
    }
     .t1{
        font-size: 40px;
        
    }
     .lt{
        display: inline;
        font-size: 40px;
        margin-left: 40px;
        margin-top: 40px;
    }
     #phone1{
        display: inline;
        font-size: 40px;
        margin-top: 40px;
    }
     .pt{
        display: inline;
        font-size: 40px;
        margin-left: 40px;
        margin-top: 40px;
        
    }
     #mail1{
        display: inline;
        font-size: 40px;
        margin-top: 40px;
    }
     .mt{
        display: inline;
        font-size: 40px;
        margin-left: 40px;
        margin-top: 40px;
    }
     .infot{
        font-size: 40px;
        margin-top: 25px;
       
    }
     .infod{
        font-size: 40px;
        margin-top: 60px;
       
    }
     .ip1{
        display: flex;
        gap: 10px;
        margin-top: 60px;
    }
     .ip2{
        display: flex;
        gap: 10px;
        margin-top: 30px;
    }
     .inst1{
        font-size: 40px;
        margin-top: 27px;
    }
     .watchesf{
        height: 100px;
        width: 100px;
    }
     .nlt{
        font-size: 40px;
        
        margin-top: 30px;
    }
     .en{
        display: block;
        height: 48px;
        width: 255px;
        
    }
     .subs{
        height: 48px;
        width: 222px;
       
        margin-top: 35px;
        background-color: #8019c8;
        border: none;
        color: #f6f6f6;
    }
     .social1{
        display: flex;
        margin-top: 35px;
       
    }
     #yt{
        font-size: 40px;
        margin-left: 10px ;
    }
     #in{
        font-size: 40px;
        margin-left: 10px ;
    }
     #twit{
        font-size: 40px;
        margin-left: 10px ;
    }
     #fb{
        font-size: 40px;
    }
     footer{
        background-color: #0f1521;
        color: #fff;
    }
     .newsform{
        margin-top: 55px;
       
    }
     .location{
        margin-top: 10px;
    }
     .fc{
        margin-left: 20px;
        padding: 100px;
        margin-right: 10px;
    }
     .rights{
        text-align: center;
    }
     .rights1{
        font-size: 20px;
    }
    /* footer css ends */

}
